@import url(common/reset.css);

/* 메인시작 */

/* 섹션1 축제소개 컨텐츠 및 포스터 섹션 */
.festival > .sec1 {
    background-color: #f3f2ee;
}

.festival .sec1_wrap {
    display: flex;
}
.festival .sec1_wrap > div {
    width: 50%;
}
.festival .sec1_cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.festival .sec1_cont > h1 {
    /* font-size: 60px; font-weight: bold; */
}

.festival .sec1_cont > h2 {
    /* font-size: 40px; font-weight: bold; */
    margin: 80px 0;
}
.festival .sec1_cont > .sec1_cont_line {
    width: 100%;
    height: 1px;
    background-color: black;
}
.festival .sec1_cont > .sec1_cont_maintxt {
    margin: 80px 0;
    text-align: right;
}
.festival .sec1_cont > .sec1_cont_maintxt > p {
    /* font-size: 18px; */
}
.festival .sec1_cont > h3 {
    /* font-size: 22px; font-weight: bold; */
}

@media (max-width: 1440px) {
    .w1440 {
        width: 100%;
    }
}
