@import url(common/reset.css);
.subTitle {
    justify-content: center;
<<<<<<< HEAD
        transform: translateY(0%);
        display: flex;
        gap: 20px;
    

=======
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0
}

/*category color 시작*/

.notice_list .red {
    color: #ee4b3c;
    font-weight: bold;
}
.notice_list .pink {
    color: #f9b6b0;
    font-weight: bold;
}
.notice_list .blue {
    color: #1874c1;
    font-weight: bold;
}
.notice_list .yellow {
    color: #ffbc16;
    font-weight: bold;
}
.notice_list .bold {
    font-weight: bold;
}

/*category color 종료*/

#section4 {
    background-color: #f3f2ee;
}

.sec4_cont {
    width: 100%;
    border-top: 1px solid #000;
    padding-bottom: 40px;
}
.sec4_cont > table {
    width: 100%;
    border-collapse: collapse;
}
.sec4_cont tr {
    width: 100%;
    border-bottom: 1px solid #000;
}
<<<<<<< HEAD
.sec4_title{
    /* position: relative; */
=======
.sec4_title {
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0
    padding-bottom: 100px;
}
.notice_list td {
    height: 90px;
    vertical-align: middle;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
colgroup col:first-child {
    width: 15%;
}
colgroup col:last-child {
    width: 15%;
}
.notice_list .notice_title {
    text-align: left;
}
.notice_list .notice_title > a {
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

/*섹션 5*/

#section5 {
    background-color: #f3f2ee;
}
<<<<<<< HEAD
.sec5_title{
    padding: 100px 0;
=======
.sec5_title {
    padding-bottom: 100px;
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0
}
.swiper {
    width: 100%;
    height: 100%;
}

<<<<<<< HEAD
 
  .news_bnr{
=======
.news_bnr {
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.news_bnr1 {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 35.93%, rgba(0, 0, 0, 0) 90%),
        linear-gradient(0deg, rgba(114, 114, 114, 0.3), rgba(114, 114, 114, 0.2)), url(../img/news0.png);
}
.news_bnr2 {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 35.93%, rgba(0, 0, 0, 0) 90%),
        linear-gradient(0deg, rgba(114, 114, 114, 0.3), rgba(114, 114, 114, 0.2)), url(../img/news1.jpg);
}
.news_bnr3 {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 35.93%, rgba(0, 0, 0, 0) 90%),
        linear-gradient(0deg, rgba(114, 114, 114, 0.3), rgba(114, 114, 114, 0.2)), url(../img/news2.jpg);
}

.news_txt {
    position: absolute;
    width: 50%;
    right: 50px;
    /* max-width: 50%;s */
    text-align: right;
    bottom: 50%;
    transform: translateY(50%);
    box-sizing: border-box;
    color: #fff;
}
.news_txt > p {
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news_more > a {
    color: #fff;
    font-weight: bold;
}
/* 여기서부터 시작 */

.news_arrow > ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 30px;
}
.news_arrow > ul > li {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.news_arrow a {
    display: block;
    width: 40px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px auto;
}

    .news_arrow>ul{
     display: flex;
     justify-content: flex-end;
     position: relative;
     margin-top: 30px;
    }
    .news_arrow>ul>li{
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
    }
    .news_arrow a{
        display:block;
        width: 40px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 12px auto;
    }
    
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -3px;
     width: auto;}

  .swiper-pagination{
    width: 50px;
    position: relative;
    bottom: 0;
    color: #000;
    font-size: 0 !important;
}
.swiper-pagination > span {
    font-size: 16px;
    font-weight: bold;
}
.swiper-pagination-total {
    margin-left: 25px;
    position: relative;
}
.swiper-pagination-total::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    left: -15px;
    width: 5px;
    height: 6px;
    border-radius: 3px;
    background-color: #000;
}
.slide_prev {
    background-image: url(../img/arrow_prev.png);
}
.slide_next {
    background-image: url(../img/arrow_next.png);
}

/* 섹션5 종료 */

/* 섹션6 시작 */

#section6 {
    background-color: #f3f2ee;
    width: 100%;
    height: 100%;
}

.sec6_title {
    padding-bottom: 100px;
}

.sec6_cont {
    display: flex;
    justify-content: space-between;
}
.sec6_cont .left_cont {
    width: 50%;
    /* padding-top: 28.6458%; */
}
.left_cont_img {
    width: 100%;
    padding-top: 80%;
    /* background-color: #1EA849; */
    background-image: url(../img/map1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sec6_cont .right_cont {
    width: 48%;
}
#right_title > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}

<<<<<<< HEAD
    }
    #right_title>ul>li>p{
        font-size: 18px;
        padding-top: 120px;
        text-align: center;
        width: 100%;
        font-weight: bold;
        box-sizing: border-box;
    }
    #right_title>ul>li .edit_txt{
        width: 110%;
        text-align: left;
        /* padding-right: 10px; */
        box-sizing: border-box;
    }
    #right_title_1{
        background-image: url(../img/temple-off.png);
    }   
    #right_title_2{
        background-image: url(../img/art-off.png);
    }
    #right_title_3{
        background-image: url(../img/sea-off.png);
    }
    #right_title_4{
        background-image: url(../img/park-off.png);
    }
    .tabcont{
        display: none;
        width: 100%; height: fit-content;
        margin-top: 100px;
    /* border: 1px solid #333; */
    }
    #sec6_tab1{
        display: block;
    
    }
=======
#right_title > ul > li {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 55px;
}
#right_title > ul > li > p {
    font-size: 18px;
    padding-top: 120px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
}
#right_title > ul > li .edit_txt {
    width: 110%;
    text-align: left;
    /* padding-right: 10px; */
    box-sizing: border-box;
}
#right_title_1 {
    background-image: url(../img/temple-off.png);
}
#right_title_2 {
    background-image: url(../img/art-off.png);
}
#right_title_3 {
    background-image: url(../img/sea-off.png);
}
#right_title_4 {
    background-image: url(../img/park-off.png);
}
.tabcont {
    display: none;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    /* border: 1px solid #333; */
}
#sec6_tab1 {
    display: block;
}
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0

#right_title_1.active {
    background-image: url(../img/temple-active.png);
    border: 2px solid #ee4b3c;
    color: #ee4b3c;
}
<<<<<<< HEAD
#right_title_2.active{
    background-image: url(../img/art-active.png);
=======
#right_title_2.active {
    background-image: url(../img/art-active1.png);
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0
    border: 2px solid #efa7a0;
    color: #efa7a0;
}
#right_title_3.active {
    background-image: url(../img/sea-active.png);
    border: 2px solid #1874c1;
    color: #1874c1;
}
#right_title_4.active {
    background-image: url(../img/park-active.png);
    border: 2px solid #1ea849;
    color: #1ea849;
}

/* 탭 서브메뉴 */

.tab_title {
    width: 100%;
    height: 90px;
    line-height: 90px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}
#sec6_tab > li:first-child {
    border-top: 1px solid #000;
}
#sec6_tab span {
    display: inline-block;
}
.sec6_tab_sub {
    width: 100%;
    max-height: 0;
    padding: 10px 10px;
    top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
.sec6_tab_sub > li > a {
    width: 100%;
    /* display: block; */
    font-size: 16px;
    padding: 10px 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
}
.sub_toggle {
    transition: all 0.5s ease-in-out;
    max-height: fit-content;
    opacity: 1;
    background-color: #f3f2ee;
}
#sec6_plus_btn {
    width: 100%;
}

#sec6_plus_btn > li {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin-top: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: right;
}
#sec6_plus_btn > li:last-child {
    transform: translateY(-10px) rotate(90deg);
}

.tab_active {
    display: block;
    height: 100%;
<<<<<<< HEAD
  }



footer{
   text-align: center;
   background-color: #0C0C0C;
   
  
}

.footer_txt{
    /* position: absolute; */
=======
}

footer {
    text-align: center;
}
.footer_bg {
    width: 100%;
    position: relative;
    /* padding-bottom: 100px; */
    margin: 0 auto;
}
.footer_txt {
    /* bottom: 50px; */
>>>>>>> 5a594bb2d1d18ab0ca800ac16ec95d7c550279e0
    color: #fff;
    padding-bottom: 20px;
    /* margin-top: -100px; */
}
.f_icon {
    width: 15%;
    height: 35px;
    margin: 20px auto;
}
.f_logo {
    font-size: 50px;
    padding-bottom: 50px;
}
.f_icon > ul {
    display: flex;
    justify-content: space-between;
}
.f_icon > ul > li {
    width: 35px;
    height: 35px;
    background-position: center center;
    background-size: 30px auto;
    background-repeat: no-repeat;
}

.f_icon .insta {
    background-image: url(../img/footer_insta_wt.png);
}
.f_icon .youtube {
    background-image: url(../img/footer_youtube_wt.png);
}
.f_icon .twiter {
    background-image: url(../img/footer_twt_wt.png);
}
.f_icon .facebook {
    background-image: url(../img/footer_fb_wt.png);
}

@media (max-width: 1100px) {
    .sec6_cont {
        flex-direction: column;
        /* flex-wrap: no-wrap; */
    }
    .sec6_cont .left_cont {
        width: 100%;
        padding-bottom: 40px;
    }
    .sec6_cont .right_cont {
        width: 100%;
    }
    colgroup col:first-child {
        width: 30%;
    }
    colgroup col:last-child {
        width: 15%;
    }
    .notice_list td {
        padding: 0 0;
    }
}
