@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
section {
    /* padding-bottom: 5px; */
    box-sizing: border-box;
    height: 900px;
}
.sec_wrap {
    /* padding: 0 240px;
    box-sizing: border-box; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.sec_wrap_b {
    position: relative;
    /* padding: 0 240px;
    box-sizing: border-box; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #0c0c0c;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 22px;
}
p {
    font-size: 16px;
}
.subTitle {
    transform: translateY(100%);
    display: flex;
    gap: 20px;
}
.subTitle > h1 {
    font-family: "Roboto", sans-serif;
}
.subTitle > h1:nth-child(1) {
    color: #ee4b3c;
}
.subTitle > h1:nth-child(2) {
    color: #f9b6b0;
}
.subTitle > h1:nth-child(3) {
    color: #1874c1;
}
.subTitle > h1:nth-child(4) {
    color: #ffbc16;
}
.subTitle > h1:nth-child(5) {
    color: #1ea849;
}
.subTitle > h1:nth-child(6) {
    color: #ee4b3c;
}
.subTitle > h1:nth-child(7) {
    color: #f9b6b0;
}
.subTitle > h1:nth-child(8) {
    color: #1874c1;
}
.subTitle > h1:nth-child(9) {
    color: #ffbc16;
}
.subTitle > h1:nth-child(10) {
    color: #1ea849;
}
.tabBtn {
    width: 170px;
    padding: 20px 0;
}

/* ===========sub========= */
.subpage_title > div:nth-child(1) {
    background-color: #ee4b3c;
}
.subpage_title > div:nth-child(2) {
    background-color: #f9b6b0;
}
.subpage_title > div:nth-child(3) {
    background-color: #1874c1;
}
.subpage_title > div:nth-child(4) {
    background-color: #ffbc16;
}
.subpage_title > div:nth-child(5) {
    background-color: #1ea849;
}
.subpage_title > h2 {
    color: #fff;
}

@media (max-width: 1440px) {
    section {
        height: 700px;
    }
    .sec_wrap {
        width: 100%;
        padding: 0 150px;
        box-sizing: border-box;
    }
}
@media (max-width: 1100px) {
    section {
        height: 600px;
    }
    .sec_wrap {
        padding: 0 70px;
    }
    h1 {
        font-size: 44px;
    }
    h3 {
        font-size: 28px;
        font-weight: 900;
    }
    h4 {
        font-size: 18px;
        font-weight: 900;
    }
    p {
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    section {
        height: 400px;
    }
    section.section2 {
        height: 300px;
    }
    .sec_wrap {
        padding: 0 50px;
    }
    h1 {
        font-size: 34px;
    }
    h3 {
        font-size: 24px;
        font-weight: 900;
    }
    h4 {
        font-size: 16px;
        font-weight: 900;
    }
    p {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    section {
        height: 250px;
    }
    .sec_wrap {
        padding: 0 25px;
    }
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
        font-weight: 900;
    }
    h4 {
        font-size: 10px;
        font-weight: 900;
    }
    p {
        font-size: 10px;
    }
}
