@import url(common.css);
* {
    font-family: sans-serif;
}
main {
    background-color: #0c0c0c;
}
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    border-bottom: 1px solid #f3f2ee;
    box-sizing: border-box;
    z-index: 999;
    text-align: center;
    color: #f3f2ee;
    font-size: 30px;
}

.wave_white {
    width: 100%;
    padding-top: 15.625%;
    background-image: url(../img/wavy\ line_w.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center bottom;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin-bottom: -2px;
}
.wave_bw {
    width: 100%;
    padding-top: 20.833333%;
    background-image: url(../img/wavy\ line_bw.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: -2px;
}
.wave_wb {
    width: 100%;
    padding-top: 20.833333%;
    background-image: url(../img/wavy\ line_wb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: -2px;
}
.main .section1 {
    position: relative;
}
.confetti {
    height: 60%;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transform: translateY(50%);
}
.confetti.show {
    animation: confetti 1.2s ease-in-out;
}
.confetti > img {
    height: 100%;
}
@keyframes confetti {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    65% {
        opacity: 0.7;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

.main .section1 .sec_wrap_b {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.main_imgs {
    width: 80%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main_logo {
    width: 15%;
    margin: 200px auto 0;
}
.main_logo > .img {
    padding-top: 53.69319%;
    background-image: url(../img/bfoc_logo_white.png);
}
.main .main_right {
    position: absolute;
    bottom: 17%;
    right: 15%;
    width: 20%;
    z-index: 5;
}
.main_right > .img {
    padding-top: 216.714286%;
    background-image: url(../img/main_right.png);
}
.main .main_center {
    position: absolute;
    bottom: 26%;
    left: 62%;
    transform: translateX(-50%);
    width: 22%;
}
.main_center > .img {
    padding-top: 145.7777%;
    background-image: url(../img/main_center.png);
}
.main .main_left {
    position: absolute;
    bottom: 19%;
    left: 15%;
    width: 46%;
    z-index: 6;
}
.main_left > .img {
    padding-top: 95.111111%;
    background-image: url(../img/main_left.png);
}

/* ======================================sec2========================= */
.main .sec2 {
    position: relative;
    background-color: #f3f2ee;
}
.main .festi-poster {
    width: 100%;
    /* max-width: 1440px;
    margin: 0 auto; */
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
}

.main .img {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
}
.main .speaker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 14%;
    transform: rotate(-16.32deg);
    z-index: 500;
}
.main .speaker > .img {
    padding-top: 122%;
    background-image: url(../img/speaker.png);
}
.main .seagal {
    position: absolute;
    top: 0;
    right: 50px;
    width: 22%;
    z-index: 499;
}
.main .seagal > .img {
    padding-top: 99.25%;
    background-image: url(../img/seagal.png);
}
.lp {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 14%;
    left: 0;
}
.lp > .img {
    padding-top: 97.2%;
    background-image: url(../img/LP.png);
}
.main .swiper {
    width: 100%;
    overflow-x: hidden;
    gap: 0;
}

.main .swiper-wrapper {
    gap: 0;
}

.main .swiper-slide {
    transform: scaleY(0.9);
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    transition: all 0.3s ease;
    padding: 0;
}

.main .swiper-slide-active {
    background: #fff;
    transform: scale(1);
    height: 100%;
    z-index: 2;
}

.main .swiper-slide > img {
    width: 100%;
    opacity: 0.5;
}
.main .swiper-slide-active > img {
    width: 100%;
    opacity: 1;
}
/* ==========sec3==================== */
.main .sec3_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0c0c0c;
    height: 800px;
}
.main .sec3_wrap > div {
    width: calc(50% - 50px);
}
.main .sec3_left {
    width: 100%;
    height: 100%;
    background-color: #f3f2ee;
}
.main .sec3_right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main .sec3_subtitle {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.main .sec3_subtitle > h3 {
    width: fit-content;
}
.d-day {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f2ee;
}
.d-day > h1 {
    color: #f3f2ee;
    font-weight: bold;
    color: #ee4b3c;
}
.d-day > h1:nth-child(2) {
    color: #f9b6b0;
}
.d-day > h1:nth-child(3) {
    color: #1874c1;
}
.d-day > h1:nth-child(4) {
    color: #ffbc16;
}
.d-day > h1:nth-child(5) {
    color: #1ea849;
}
.main .sec3_wrap p {
    color: #f3f2ee;
}
.main .sec3_wrap h2 {
    color: #f3f2ee;
}
.main .section3 h3 {
    font-weight: 900;
    color: #f3f2ee;
}
.main .section3 h4 {
    font-weight: 900;
    color: #f3f2ee;
}
.main .section3 h4.red {
    color: #ee4b3c;
}
.main .section3 h4.blue {
    color: #1874c1;
}
.main .section3 h4.yellow {
    color: #ffbc16;
}
.main .sec3_info {
    width: 100%;
    display: flex;
    justify-content: start;
}
.main .sec3_info h4:nth-child(1) {
    width: 15%;
    margin-right: 20px;
}
@media (max-width: 1440px) {
    .main .sec3_subtitle {
        gap: 0;
    }
    .main .sec3_subtitle > h3 {
        width: 100%;
    }
    .main .sec3_wrap > div {
    }
}
@media (max-width: 1020px) {
    .main .sec3_wrap > div {
        width: 100%;
        height: 50%;
    }
    .main .sec3_right p {
        display: none;
    }
    /* .main .sec3_right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .main .sec3_content_left {
        width: 100%;
    } */
}
