<header>
    <div class="b_header">
        <div class="sec_wrap">
            <a href="/" class="main logo logo_b"><img src="img/bfoc_header_logo_w.png" alt="" /></a>
            <a href="/" class="main logo logo_w"><img src="img/bfoc_header_logo.png" alt="" /></a>
            <div class="gnb">
                <ul>
                    <li><a href="festival">FESTIVALS</a></li>
                    <li><a href="committee">ABOUT US</a></li>
                    <li><a href="gallery">GALLERY</a></li>
                    <li><a href="notice_list">COMMUNITY</a></li>
                    <li><a href="login">MYPAGE</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
