<header>
    <div class="b_header">
        <div class="sec_wrap">
            <a href="/" class="main logo logo_b"><img src="img/bfoc_header_logo_w.png" alt="" /></a>
            <a href="/" class="main logo logo_w"><img src="img/bfoc_header_logo.png" alt="" /></a>
            <div class="gnb">
                <ul>
                    <li><a href="festival">FESTIVALS</a></li>
                    <li><a href="committee">ABOUT US</a></li>
                    <li><a href="gallery">GALLERY</a></li>
                    <li><a href="notice_list">COMMUNITY</a></li>
                    <li><a href="login">MYPAGE</a></li>
                </ul>
                <div class="cate_btn click"><span></span><span></span><span></span></div>
            </div>
        </div>
        <div class="cate">
            <div class="cate_btn close"><span></span><span></span><span></span></div>
            <div class="cate_wrap">
                <h3>CATEGORY</h3>
                <div class="cate_list">
                    <h4>
                        MYPAGE
                        <div class="cate_more"><span></span><span></span></div>
                    </h4>
                    <div class="cate_accor">
                        <p>LOGIN</p>
                        <p>SIGN UP</p>
                    </div>
                </div>
                <div class="cate_list">
                    <h4>
                        FESTIVAL
                        <div class="cate_more"><span></span><span></span></div>
                    </h4>
                    <div class="cate_accor">
                        <p>부산시민의종타종식</p>
                        <p>부산항축제</p>
                        <p>부산바다축제</p>
                        <p>골목길축제</p>
                        <p>부산불꽃축제</p>
                        <p>국제록페스티벌</p>
                        <p>유채꽃축제</p>
                    </div>
                </div>
                <div class="cate_list">
                    <h4>
                        ABOUT US
                        <div class="cate_more"><span></span><span></span></div>
                    </h4>
                    <div class="cate_accor">
                        <p>ABOUT US</p>
                    </div>
                </div>
                <div class="cate_list">
                    <h4>
                        GALLERY
                        <div class="cate_more"><span></span><span></span></div>
                    </h4>
                    <div class="cate_accor">
                        <p>GALLERY</p>
                    </div>
                </div>
                <div class="cate_list">
                    <h4>
                        COMMUNITY
                        <div class="cate_more"><span></span><span></span></div>
                    </h4>
                    <div class="cate_accor">
                        <p>NOTICE</p>
                        <p>EVENT</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cate_bg"></div>
    </div>
</header>
