<header class="main">
    <div class="sec_wrap">
        <a href="/" class="main logo"><img src="img/bfoc_header_logo_w.png" alt="" /></a>
        <div class="gnb">
            <ul>
                <li><a href="festival">FESTIVALS</a></li>
                <li><a href="committee">ABOUT US</a></li>
                <li><a href="notice_list">COMMUNITY</a></li>
                <li><a href="login">MYPAGE</a></li>
            </ul>
        </div>
    </div>
</header>
<header class="sub">
    <div class="sec_wrap">
        <a href="/" class="sub logo"><img src="img/bfoc_header_logo.png" alt="" /></a>
        <div class="gnb">
            <ul>
                <li><a href="festival">FESTIVALS</a></li>
                <li><a href="committee">ABOUT US</a></li>
                <li><a href="notice_list">COMMUNITY</a></li>
                <li><a href="login">MYPAGE</a></li>
            </ul>
        </div>
    </div>
</header>
